.search-container {
  width: 68vw !important;
  margin: 0 auto;
}

/*** SearchResult.js ***/
#scrollableDiv {
  width: 68vw;
  height: 85vh;
  overflow-y: scroll;
  background-color: white;
  margin: auto;
  margin-top: 10vh;
  padding: 2;
  position: relative;
  outline: 0;
  box-sizing: border-box;
}

.loaderBox {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  z-index: -1;
}

.gif {
  width: 100%;
  height: auto;
}

.gifContainer {
  position: relative;
  cursor: pointer;

  &:hover .gifOverlay {
    opacity: 1;
  }
  
  .gifOverlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

/*** SearchFavorite.js ***/
.searchFavorite {
  margin-top: 2rem;

  h3 {
    margin-bottom: 1rem;
  }

  .gif {
    width: 100%;
    height: auto;
  }
}
